body {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  min-height: 100vh;
  margin: auto;
  padding: 0 1rem;
  color: #184d47;
  background-color: #96bb7c;
}

a {
  color: #c64756;
}

header,
footer {
  font-family: sans-serif;
}

footer {
  margin-top: auto;
  padding: 3rem 0 1rem;
}

.jumbotron {
    background-color: #96bb7c!important;
}