{% extends "base.html" %}

{% load static %}


{% block nav %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
      <div class="col-sm-6">
          <div class="jumbotron">
            <h1>Aktueller Stand:</h1>
            <p>Sie bestellen {{ session.product }} für den {{ session.order_day }}</p>
            <form action="{% url 'order:customer' %}" method="post">
                {% csrf_token %}
                <select id="bestelltag" name="bestelltag">
                {% for time in times %}
                    <option value="{{ time }}">{{ time }}</option>
                {% endfor %}
                </select>
                <br>
                <button type="submit" class="btn btn-dark">weiter</button>
            </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}