{% extends "base.html" %}

{% load static %}


{% block nav %}

{% endblock %}

{% block content %}

<div class="container container_extend">
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-sm-12">
        <form action="{% url 'order:customer' %}" method="post">
            {% csrf_token %}
              <div class="row">
                  <div class="col text-center">
                    <h1 class="text-center">Abholzeit wählen:</h1>
                  </div>
              </div>
                <div class="row">
                  <div class="col text-center">
                    <p class="text-center">Du bestellst {{ order.product_long }} für den {{ order.order_day_view }}</p>
                    <p class="text-center">Wähle bitte aus der Liste eine freie Abholzeit die auch für Dich passt:</p>
                  </div>
                </div>

                <div class="row">
                        <div class="col-12 form-group text-center">
                            <select id="collectiontime" class="form-control-sm" name="collectiontime">
                            {% for time in times %}
                                <option value="{{ time }}">{{ time.order_time|time:"H:i" }}</option>
                            {% endfor %}
                            </select>
                        </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-secondary" onclick="history.go(-1)">zurück</button>
                        <button type="submit" class="btn btn-secondary">weiter</button>
                    </div>
                </div>
        </form>
      </div>
    </div>
    <div class="row">&nbsp;</div>
</div>

{% endblock %}