{% extends "base.html" %}

{% load static %}


{% block nav %}

{% endblock %}

{% block content %}

<div class="container container_extend">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm-12">
        <form action="{% url 'order:product' %}" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col text-center"><h1>Termin auswählen:</h1></div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p>Du bestellst {{order.product_long}} für den ... ? </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <select id="bestelltag" class="form-control-sm" name="bestelltag">
                    {% for day in days %}
                        <option value="{{ day }}">{{ day.order_day|date:"d.m.Y" }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col text-center">
                    <a class="btn btn-secondary" href="{% url 'order:index' %}">zurück</a>
                    <button type="submit" class="btn btn-secondary">weiter</button>
                </div>
            </div>
          </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}