{% extends "base.html" %}

{% load static %}

{% block nav %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-sm-12">
        <form action="{% url 'order:thanks' %}" method="post">
            {% csrf_token %}

                <div class="row">
                    <div class="col-12 text-center">
                        <h1>Zusammenfassung:</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p>Das möchtest du bestellen:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">{{order.product_long}}:</div>
                    <div class="col-6 text-left">{{ order.reibekuchen_count }} Stück</div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">Apfelkompott:</div>
                    <div class="col-6 text-left">{{ order.apfelkompott }} mal</div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">Lachs:</div>
                    <div class="col-6 text-left">{{ order.lachs }} mal </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">Zusatz-Wünsche:</div>
                    <div class="col-6 text-left">{{ order.bemerkung }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6 text-right">Abholung:</div>
                    <div class="col-6 text-left">{{ order.order_day_view }} um {{ collectiontime_view|date:'H:i' }}</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6 text-right">Falls was ist melden wir uns bei:</div>
                    <div class="col-6 text-left">{{ order.customer_name }} unter Tel.: {{ order.callnumber }} <br>oder E-Mail: {{ order.email }}</div>
                </div>
                <br>
                <div class="row">
                     <div class="col-12"><center><button type="submit" class="btn btn-primary">Zahlungspflichtig bestellen</button></center></div>
                </div>
        </form>
      </div>
    </div>
    <div class="row">&nbsp;</div>
</div>

{% endblock %}