{% extends "base.html" %}

{% load static %}


{% block nav %}

{% endblock %}

{% block content %}

<div class="container container_extend">
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-sm-12">
        <form action="{% url 'order:complete' %}" method="post">
            {% csrf_token %}
              <div class="row">
                <div class="col text-center">
                    <h1 class="text-center">Aktueller Stand:</h1>
                </div>
              </div>
                <div class="row">
                  <div class="col text-center">
                    <p class="text-center">Du bestellst {{ order.product_long }} für den {{ order.order_day_view }}</p>
                    <p class="text-center">Jetzt noch schnell deinen Namen und deine Kontaktdaten (falls was ist):</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="customer_name">Dein Name:</label><br>
                        <input class="form-control-sm" type="text" name="customer_name" id="customer_name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="callnumber">Dein Rückrufnummer:</label><br>
                        <input class="form-control-sm" type="text" name="callnumber" id="callnumber">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="email">Deine E-Mail:</label><br>
                        <input class="form-control-sm" type="text" name="email" id="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-secondary" onclick="history.go(-1)">zurück</button>
                        <button type="submit" class="btn btn-secondary">weiter</button>
                    </div>
                </div>
        </form>
      </div>
    </div>
    <div class="row">&nbsp;</div>
</div>

{% endblock %}