{% extends "base.html" %}

{% block title %}
    Gaststätte Schruff - Datenschutz
{% endblock %}

{% block content %}
<content>
    <div class="container container_extend">
        <p></p>
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-secondary" onclick="history.go(-1)">zurück</button>
                {{ content.content_lang | safe}}
                <button type="button" class="btn btn-secondary" onclick="history.go(-1)">zurück</button>
            </div>
        </div>
    </div>
</content>


{% endblock %}
