{% extends "base.html" %}

{% block title %}
    Gaststätte Schruff - Impressum
{% endblock %}

{% block content %}
<content>
    <div class="container container_extend">
        <p></p>
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-secondary" onclick="history.go(-1)">zurück</button>
                Hier ist das Impressum
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</content>


{% endblock %}
