{% extends "base.html" %}

{% load static %}


{% block nav %}

{% endblock %}

{% block content %}

<div class="container container_extend">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col text-center">
            <h1>Eifler Riefkoche (Reibekuchen)</h1>
            <p>"Mittwochs is Rievekochedaach!!!"</p>
            <p><a class="btn btn-secondary" href="{% url 'order:step1' %}?p=10">Bestellen</a></p>
        </div>
        <br>
        <br>
        <div class="col text-center">
            <h1>Spießbraten-Brötchen</h1>
            <p>"Un Friedachs jit et Spießbrodebrütcher"</p>
            <p><a class="btn btn-secondary" href="{% url 'order:step1' %}?p=20">Bestellen</a></p>
        </div>
    </div>
</div>

{% endblock %}