{% extends "base.html" %}

{% load static %}


{% block nav %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="{% url 'order:index' %}" class="navbar-brand">Startseite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'order:fasttrackstart' %}">Fasttrack</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'order:orderliststart' %}">Bestellliste</a>
            </li>
        </ul>
    </div>
</nav>
{% endif %}

{% endblock %}

{% block content %}

<div class="container container_extend">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col text-center">
            <h4>Hier kannst du Reibekuchen oder Spießbratenbrötchen <br>bei der
            Gaststätte Schruff in Nettersheim vorbestellen.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Einfach hier schnell Termin, Uhrzeit und Anzahl auswählen und schon ist die Bestellung aufgegeben. <br>
                Die Bezahlung erfolgt in bar bei Abholung.<br>
                Wir freuen uns auf Dich! <br>Dein Team der Gaststätte Schruff
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h1>Eefler Rievkoche (Reibekuchen)</h1>
            <p>"Mittwochs is Rievkochedaach!!!"</p>
            <p>Die Vorbestellung sollte bis 14:00 Uhr vorliegen.</p>
            <p><a class="btn btn-secondary" href="{% url 'order:collectiondate' %}?p=10">Bestellen</a></p>
        </div>
        <br>
        <br>
        <div class="col text-center">
            <h1>Spießbraten-Brötchen</h1>
            <p>"Un Friedachs jit et Spießbrodebrütcher"</p>
            <p>Die Vorbestellung sollte bis 14:00 Uhr vorliegen</p>
            <p><a class="btn btn-secondary" href="{% url 'order:collectiondate' %}?p=20">Bestellen</a></p>
        </div>
    </div>
</div>

{% endblock %}