{% extends "base.html" %}

{% load static %}


{% block nav %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-sm-12">
            <form action="{% url 'order:collectiontime' %}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col text-center"><h1 class="text-center">Was möchtest du denn haben?</h1></div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p class="text-center">Du bestellst {{ order.product_long }} für den {{ order.order_day_view }}</p>
                </div>
            </div>
            {% if order.product_id == '10' %}
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="reibekuchen_count">Wieviel Reibekuchen sollen es den sein?:</label><br>
                        <input class="form-control-sm" type="text" size="10" id="reibekuchen_count" name="reibekuchen_count">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="apfelkompott">Wieviel Portionen Apfelkompott?:</label><br>
                        <input class="form-control-sm" type="text" size="10" id="apfelkompott" name="apfelkompott">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="lachs">Anzahl Portionen Lachs:</label><br>
                        <input class="form-control-sm" type="text" size="10" id="lachs" name="lachs">
                    </div>
                </div>
            {% elif order.product_id == '20' %}
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="broetchen_standard">Spießbraten Standard:</label><br>
                        <input class="form-control-sm" type="text" id="broetchen_standard" name="broetchen_standard">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="broetchen_special">Spießbraten Spezial:</label><br>
                        <input class="form-control-sm" type="text" id="broetchen_special" name="broetchen_special">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="apfelkompott">Anzahl Apfelkompott:</label><br>
                        <input class="form-control-sm" type="text" id="apfelkompott" name="apfelkompott">
                    </div>
                </div>

            {% endif %}
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="bemerkung">Bemerkung/Besondere Wünsche:</label><br>
                        <input class="form-control" type="text"  id="bemerkung" name="bemerkung">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12"><center><button type="submit" class="btn btn-primary">weiter</button></center></div>
                </div>
            </form>
      </div>
    </div>
    <div class="row">&nbsp;</div>
</div>

{% endblock %}