{% extends "base.html" %}

{% load static %}


{% block nav %}

{% endblock %}

{% block content %}

<div class="container container_extend">
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="col-sm-12">
            <form action="{% url 'order:collectiontime' %}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col text-center"><h1 class="text-center">Was darf es denn sein?</h1></div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p class="text-center">Du bestellst {{ order.product_long }} für den {{ order.order_day_view }}</p>
                </div>
            </div>
            {% if order.product_id == '10' %}

                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="{{ form.apfelkompott_count.id_for_label }}">Portion Reibekuchen (3 Stück) inklusive Apfelkompott und Brot ({{ order.EUR_APFELKOMPOTT|floatformat:"2" }} €/Portion)?:</label><br>
                        {{ form.apfelkompott_count }}
                        {{ form.apfelkompott_count.errors }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="{{ form.lachs_count.id_for_label }}">Portion Reibekuchen (3 Stück) inklusive Lachs, Brot und Meerrettich ({{ order.EUR_LACHS|floatformat:"2" }} €/Portion)?:</label><br>
                        {{ form.lachs_count }}
                        {{ form.lachs_count.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="{{ form.reibekuchen_count.id_for_label }}">Wieviel Einzel-Reibekuchen sollen es den sein ({{ order.EUR_REIBEKUCHEN|floatformat:"2" }} €/St.)?:</label><br>
                        {{ form.reibekuchen_count }}
                        {{ form.reibekuchen_count.errors }}
                    </div>
                </div>

                {% elif order.product_id == '20' %}
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="{{ form.broetchen_standard_count.id_for_label }}">Spießbraten Standard ({{ order.EUR_SPIESSBRATEN_STANDARD|floatformat:"2" }} €/St.):</label><br>
                        {{ form.broetchen_standard_count }}
                        {{ form.broetchen_standard_count.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="{{ form.broetchen_special_count.id_for_label }}">Spießbraten Spezial ({{ order.EUR_SPIESSBRATEN_SPECIAL|floatformat:"2" }} €/St.):</label><br>
                        {{ form.broetchen_special_count }}
                        {{ form.broetchen_special_count.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="{{ form.kartoffelsalat_count.id_for_label }}">Anzahl Portion Kartoffelsalat ({{ order.EUR_KARTOFFELSALAT|floatformat:"2" }} €/Portion):</label><br>
                        {{ form.kartoffelsalat_count }}
                        {{ form.kartoffelsalat_count.errors }}
                    </div>
                </div>

            {% endif %}
                <div class="row">
                    <div class="col-12 form-group text-center">
                        <label for="{{ form.wishes.id_for_label }}">Besondere Wünsche:</label><br>
                        {{ form.wishes }}
                        {{ form.wishes.errors }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-secondary" onclick="history.go(-1)">zurück</button>
                        <button type="submit" class="btn btn-secondary">weiter</button>
                    </div>
                </div>
            </form>
      </div>
    </div>
    <div class="row">&nbsp;</div>
</div>

{% endblock %}