{% extends "base.html" %}

{% load static %}


{% block nav %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
      <div class="col-sm-6">
          <div class="jumbotron">
            <h1>Termin auswählen:</h1>
            <p>Sie bestellen {{order.product_long}} </p>

            <form action="{% url 'order:step2' %}" method="post">
            {% csrf_token %}
            <select id="bestelltag" name="bestelltag">
            {% for day in days %}
                <option value="{{ day }}">{{ day.order_day|date:"d.m.Y" }}</option>
            {% endfor %}
            </select>
            <button type="submit" class="btn btn-dark">weiter</button>
          </form>
         </div>
      </div>
  </div>
</div>

{% endblock %}