{% extends "base.html" %}

{% load static %}


{% block nav %}

{% endblock %}

{% block content %}

<div class="container container_extend">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">&nbsp;</div>
          <div class="col-8 text-center"><h1>Vielen Dank für deine Bestellung!</h1></div>
        <div class="col-2">&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">&nbsp;</div>
          <div class="col-8 text-center">Wir sehen uns am {{ order.order_day_view }} um {{ collectiontime_view|date:'H:i' }} :-)</div>
        <div class="col-2">&nbsp;</div>
    </div>

</div>

{% endblock %}